*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

header{
    background-color: #FFFFFF;
    padding: 12px 0;
    height: 35px;
}

.nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 110px;
}

.nav-bar h1{
    font-size: 22px;
    font-family: 'Exo 2';
    font-weight: 700;
    font-size: 30px;
}

.nav-bar h1:hover{
    cursor: default;
}

.nav-bar h1::selection{
    display: none;
}

.menu-bar a{
    padding: 0 10px;
    color: black;
    font-family: 'Exo 2';
    font-weight: 600;
    transition-property: border-bottom, border-width;
    transition-duration: 0.2s, 0.2s;
}

.menu-bar a:hover{
    border-bottom: 2px solid #6AD1FC;
    border-width: 3px;
}

.social-bar a{
    padding-left: 10px;
    color: black;
    font-size: 19px;
    transition-property: color;
    transition-duration: 0.3s;
}

.fb-icon:hover{
    color: #1878F1;
}

.tw-icon:hover{
    color: #2AA4EF;
}

.in-icon:hover{
    color: #c300ff;
}

.gh-icon:hover{
    color: #0071b3;
}

.hero-container {
    height: 566px;
    background-color: #6AD1FC;
}

.hero hr{
    height: 15px;
    width: 5px;
}

.dev-space{
    display: flex;
}

.hero{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 110px 0;
}

.hero img{
    width: 23%;
    border: 13px solid white;
    border-radius: 100%;
    margin-left: 100px;
}

.hero img::selection{
    display: none;
}

.Dev-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Dev-presentation h1{
    font-family: 'Exo 2';
    font-weight: 400;
    font-size: 40px;
    cursor: default;
}

.Dev-presentation h1::selection{
    display: none;
}

.Dev-presentation p{
    font-family: 'Raleway';
    font-weight: 500;
    padding-top: 12px;
}

.Dev-presentation h2{
    font-family: 'Exo 2';
    font-weight: 800;
    font-size: 70px;
    cursor: default;
}

.Dev-presentation h2::selection{
    display: none;
}

.contact-button{
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.contact-button input{
    width: 160px;
    padding: 12px 18px;
    font-family: 'Raleway';
    font-weight: 600;
    color: white;
    background-color: black;
    cursor: pointer;
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.1);
}

.specified-contact-bt{
    text-decoration: underline;
    color: black;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 14px;
    padding-left: 30px;
}

.contact-button i{
    -webkit-text-stroke: 1px;
    font-size: 14px;
    padding-left: 5px;
    padding-top: 2px;
}

.Aboutme-section1{
    background-color: white;
    height: 502px;
}

.Aboutme-section1{
    margin: 0 auto;
}

.about-title{
    height: 130px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.about-title span{
    background-color: #6AD1FC;
    padding: 4px 9px;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 14px;
    cursor: default;
}

.about-title h1{
    font-family: 'Exo 2';
    cursor: default;
}

.aboutme-container{
    display: flex;
    justify-content: space-evenly;
    height: 220px;
    width: 1000px;
    margin-left: 160px;
    align-items: center;
}

.hi-im p{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 23px;
    display: inline;
}

.hi-im span{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 23px;
    border-bottom: 2px solid #6AD1FC;
}

.aboutme-presentation{
    margin-top: 14px;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    width: 590px;
    line-height: 1.6;
}

.xp-years{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
}

.xp-years-title h1{
    font-family: 'Exo 2';
    font-size: 90px;
}

.xp-years-title h1::selection{
    display: none;
}

.xp-years-title{
    background-color: #6AD1FC;
    width: 70px;
    height: 70px;
    padding-top: -3px;
    display: flex;
    align-items: center;
    border-radius: 80%;
    justify-content: center;
}

.xp-years-text{
    padding-top: 22px;
    font-size: 22px;
}

.xp-years-text p{
    display: inline;
    font-family: 'Raleway';
    font-weight: 600;
}

.xp-years-text span{
    font-family: 'Raleway';
    font-weight: 700;
}

.contact-data{
    margin: 0 auto;
    padding-right: 120px;
    width: 1000px;
    padding-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.contact-data span{
    color: #6C757D;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 12px;
}

.contact-data p{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 15px;
}

.contact-data a{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 15px;
    color: black;
    text-decoration: underline;
}

.aboutme-2ndline{
    margin-top: 5px;
}

.whatcanido-section2{
    background-color: whitesmoke;
    height: 680px;
}

.whatcanido-section3{
    background-color: white;
    height: 500px;
}