*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

header{
    background-color: grey;
    padding: 12px 0;
    height: 30px;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px 0;
}

.nav-bar h1{
    font-size: 22px;
}

.menu-bar a{
    padding-left: 10px;
    color: black;
}

.social-bar a{
    padding-left: 10px;
    color: aquamarine;
}

.hero-container {
    height: 542px;
    background-color: goldenrod;
}

.hero hr{
    height: 15px;
    width: 5px;
}

.dev-space{
    display: flex;
}

.hero{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 70px 0;
}

.hero img{
    width: 27%;
    border: 17px solid #FFFFFF;
    border-radius: 100%;
    margin-left: 160px;
}

.Dev-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-button{
    display: flex;
}

.contact-button button{
    width: 50%;
}